<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/animatecss/3.5.2/animate.min.css">
<script src="js/index.js"></script>
<div id="container">
    <header>
        <h1 style="color: blue;">Happy Birth Day </h1>
    </header>
    <div class="wow fadeInUp" data-wow-duration="2s">
        <h1 style="color: red;"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
          </svg> Thiên Trang <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
          </svg></h1>
    </div>

    <div id="main">
        <!-- FONT AWESOME DEMO -->
        <div class="col_third">
            <i class="fa fa-heart fa-5x icn_red wow pulse" data-wow-iteration="infinite" data-wow-duration="500ms"></i>
        </div>

        <div class="col_third">
            <i class="fa fa-heart fa-5x icn_blue wow shake" data-wow-iteration="infinite" data-wow-duration="1500ms"></i>
        </div>

        <div class="col_third end">
            <i class="fa fa-heart fa-5x icn_green wow bounce" data-wow-iteration="infinite" data-wow-duration="800ms"></i>
        </div>
        <div class="clear"></div>
        <!--END / FONT AWESOME DEMO -->


        <!-- 3 COLUMN DEMO  -->
        <div class="col_third">
            <section class="section--yellow wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; -webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s;">
                <img style="width: 280px; height:240px" src="https://scontent.fvca1-2.fna.fbcdn.net/v/t1.0-9/82937433_288086535569018_2835586781521986961_o.jpg?_nc_cat=110&_nc_sid=8bfeb9&_nc_ohc=PA0u5b_n5qAAX_Y8RBP&_nc_ht=scontent.fvca1-2.fna&oh=d9ca1f2114032c4c88935431b7dac8c7&oe=5F3ABFF5"
                    alt="trang trang">
            </section>
        </div>

        <div class="col_third">
            <section class="section--yellow wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; -webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
                <img style="width: 280px; height:240px" src="https://scontent.fvca1-2.fna.fbcdn.net/v/t1.0-9/101727994_282753332769005_6412280083464865825_o.jpg?_nc_cat=107&_nc_sid=8bfeb9&_nc_ohc=CZyf0cZbMbQAX9Vlmzy&_nc_ht=scontent.fvca1-2.fna&oh=e04865978974e2429f25d8caa855af22&oe=5F3AE25C"
                    alt="trang trang">
            </section>
        </div>

        <div class="col_third end">
            <section class="section--yellow wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
                <img style="width: 280px; height:240px" src="https://scontent.fvca1-1.fna.fbcdn.net/v/t1.0-9/95313279_260180001693005_8611183410121015296_n.jpg?_nc_cat=102&_nc_sid=8bfeb9&_nc_ohc=YCqfK_0QvaYAX-mtJT5&_nc_ht=scontent.fvca1-1.fna&oh=be0fd8b2fe0178b0a0f9df9bbea8b99e&oe=5F3C7113"
                    alt="trang trang">
            </section>
        </div>
        <div class="clear"></div>
        <!-- END / 3 COLUMN DEMO -->

        <section class="section--purple">
            <img style="width: 860px; height: 240px;" src="https://irishheritagefestival.com/wp-content/uploads/2019/01/image9-12.jpg" alt="">
        </section>

        <div class="clear"></div>

        <div class="col_third">
            <section class="section--yellow wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; -webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s;">
                <img style="width: 280px; height:240px" src="https://scontent.fvca1-1.fna.fbcdn.net/v/t1.0-0/c0.63.206.206a/p206x206/94428404_258475585196780_763479850462740480_o.jpg?_nc_cat=105&_nc_sid=da31f3&_nc_ohc=khZ-8MASxDMAX9n2HBF&_nc_ht=scontent.fvca1-1.fna&oh=56d68321eb0561c43a86b8492bf942f7&oe=5F3BDA85"
                    alt="trang trang">
            </section>
        </div>

        <div class="col_third">
            <section class="section--yellow wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; -webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
                <img style="width: 280px; height:240px" src="https://scontent.fvca1-1.fna.fbcdn.net/v/t1.0-9/92411880_246256193085386_7737773863127220224_o.jpg?_nc_cat=108&_nc_sid=8bfeb9&_nc_ohc=5g4tfMKeQ3cAX81lHw2&_nc_ht=scontent.fvca1-1.fna&oh=ce4432de687f18775c914abdd6a28473&oe=5F3C67BB"
                    alt="trang trang">
            </section>
        </div>

        <div class="col_third end">
            <section class="section--yellow wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
                <img style="width: 280px; height:240px" src="https://scontent.fdad2-1.fna.fbcdn.net/v/t1.0-9/83279097_205640610480278_4069454793968451584_n.jpg?_nc_cat=107&_nc_sid=8bfeb9&_nc_ohc=1RWkwWQib1YAX931LQO&_nc_ht=scontent.fdad2-1.fna&oh=2f8010dcd662228e77c4610ac266d7cd&oe=5F3D314D"
                    alt="trang trang">
            </section>
        </div>

        <div class="clear"></div>

        <div class="wow fadeInUp" data-wow-duration="10s">
            <h2 align="center" style="color: pink;"><strong>Chúc em yêu </strong> Ngày càng xinh đẹp học giỏi hơn nhaaa</h2>
        </div>

        <!-- <section class="section--purple wow fadeInLeft" data-wow-duration="2s"></section>
        <section class="section--green wow fadeInLeft" data-wow-duration="2s"></section>
        <div class="clear"></div> -->

        <!-- 3 COLUMN DEMO  -->
        <div class="col_third">
            <section class="section--yellow wow fadeInDown">
                <img style="width: 280px; height:240px" src="https://scontent.fvca1-2.fna.fbcdn.net/v/t1.0-9/83439390_199736714404001_302648353731117056_n.jpg?_nc_cat=101&_nc_sid=8bfeb9&_nc_ohc=Olhy8Y0pIxsAX88Lm0I&_nc_ht=scontent.fvca1-2.fna&oh=80c0db08b959708f82add6cfea101025&oe=5F3C5F9C"
                    alt="trang trang">
            </section>
        </div>

        <div class="col_third">
            <section class="section--yellow wow fadeInDown">
                <img style="width: 280px; height:240px" src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.0-9/82606939_196661541378185_7290573080764612608_o.jpg?_nc_cat=109&_nc_sid=8bfeb9&_nc_ohc=J30Mlj94-jwAX9vHJE1&_nc_ht=scontent.fhan3-2.fna&oh=f53d2e85b82da8aeec7a1bc1cd9cf699&oe=5F3B9A09"
                    alt="trang trang">
            </section>
        </div>

        <div class="col_third end">
            <section class="section--yellow wow fadeInDown">
                <img style="width: 280px; height:240px" src="https://scontent.fvca1-1.fna.fbcdn.net/v/t1.0-9/82003519_192760898434916_6596203381558083584_o.jpg?_nc_cat=102&_nc_sid=8bfeb9&_nc_ohc=ANQlSsZIt44AX8nDRnm&_nc_ht=scontent.fvca1-1.fna&oh=19d311e7f7afbd1baba4dda51b777521&oe=5F3DB14E"
                    alt="trang trang">
            </section>
        </div>
        <div class="clear"></div>
        <!-- END / 3 COLUMN DEMO -->

        <!-- FONT AWESOME DEMO -->
        <div class="col_third">
            <i class="fa fa-heart fa-5x icn_red wow pulse" data-wow-iteration="infinite" data-wow-duration="500ms"></i>
        </div>

        <div class="col_third">
            <i class="fa fa-heart fa-5x icn_blue wow shake" data-wow-iteration="infinite" data-wow-duration="1500ms"></i>
        </div>

        <div class="col_third end">
            <i class="fa fa-heart fa-5x icn_green wow bounce" data-wow-iteration="infinite" data-wow-duration="800ms"></i>
        </div>
        <div class="clear"></div>
        <!--END / FONT AWESOME DEMO -->

    </div>
</div>
<audio id="myAudio" controls autoplay>
    <source src="audio/Nabi-Brithday-Young-Bee.mp3" type="audio/ogg">
    <source src="audio/Nabi-Brithday-Young-Bee.mp3" type="audio/mpeg">
</audio>

<script>
    var x = document.getElementById("myAudio");
    x.autoplay = true;
    x.load();
</script>